<div class="dialog-box">
    <h1>Add new Player</h1>
    <p>Please enter the name of a player</p>
    <div>
        <mat-form-field>
            <mat-label>Add new player</mat-label>
            <input matInput [(ngModel)]="name" />
        </mat-form-field>
        <!-- 
        @if (name) {
        <li>
            You chose: <em>{{name}}</em>
        </li>
        } -->
    </div>
    <div class="ok-btn">
        <button mat-button [mat-dialog-close]="true">No thank's</button>
        <button mat-raised-button [disabled]="name.length == 0" [mat-dialog-close]="name">OK</button>
    </div>
</div>